*{
margin:0;
padding:0;
}
body{
  justify-content:center;
  display:flex;
}
.slider {
  position: relative;
  width: 90%;
  max-width: 100%;
  margin: 40px 40px;
  overflow: hidden;
}

.img-container {
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
.img-container.active {
  display: flex;
    opacity: 1;
  }

.img-container img {
  width: 90%;
  height: auto;
  display: block;
  margin: 40px 60px;
}

.navigation {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.btn {
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color:#f6d99f;
  border-radius: 50%;
  cursor: pointer;
   box-sizing: content-box;
}

@media (min-width: 1024px) {
  .slider {
    width: 90%;
    max-width: 1000px;
    margin: 40px 60px;
  } 
}